* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', monospace;
}

body {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.arcade-machine {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* Header dos Scores */
.score-header {
    width: 500px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding-left: 40px; /* Compensa o espaço das abas */
}

/* Área Flex para Abas e Canvas lado a lado */
.game-area {
    display: flex;
    align-items: stretch;
}

/* Container do Jogo (A Borda arredondada) */
.screen-container {
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 5px;
    background: #000;
}

canvas {
    display: block;
    background: #000;
    border-radius: 10px;
}

/* Botão de voltar */
.back-btn {
    margin-top: 20px;
    color: #555;
    text-decoration: none;
    font-size: 10px;
    transition: color 0.3s;
}

    .back-btn:hover {
        color: #fff;
    }
